nav
	div.box
		h2 Currently Online
		hr
		span#people 0 people are watching
	div.box
		h2 Player Queue
		hr
		span Currently Playing: 
		span#current-player
			span(style='font-style:italic;') No one is playing
		br
		span(style='vertical-align: top;') Up Next:
		ul#player-queue
	div.box
		h2 Leaderboards
		hr
		div
			span.tab-wrapper
				span.tab.tab-active Daily
				span.tab Monthly
				span.tab All Time
			div.tab-block-parent
				div.tab-block.active
					ul
						each val in leaderboard.daily
							li
								span= val.username
								span= " (" + val.shot + " points)"
				div.tab-block
					ul
						each val in leaderboard.monthly
							li
								span= val.username
								span= " (" + val.shot + " points)"
				div.tab-block
					ul
						each val in leaderboard.allTime
							li
								span= val.username
								span= " (" + val.shot + " points)"
	div.box
		h2 Instructions
		hr
		ol.roboto.instruction-list
			li Use the arrow keys on the keyboard to adjust where the webcam is facing.
			li Select the angle and speed the launcher will shoot at.
			li Toss!
	div.box
		h2 Chat
		hr
		textarea#chat(readonly='readonly')
		input#chat-msg
		button#chat-send Send